body {
    margin: 0 !important;
}

#flex {
    font-family: 'Dosis', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#soon, .typed-cursor {
    font-size: 4.75em;
    color: slategray;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}