body {
    margin: 0 !important;
}

#flex {
    font-family: 'Dosis', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#soon, .typed-cursor {
    font-size: 5em;
    color: slategray;
}

.tiny {
    font-size: 1rem;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 1s infinite;
    position: relative;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor.normal {
    top: 1.6em;
}

.typed-cursor.asian {
    top: 1.45em;
}