body {
    margin: 0 !important;
}

#flex {
    font-family: 'Dosis', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#name {
    font-size: 5em;
    color: slategray;
}