extends ./layout.pug
block body
  .flex-vertical
    span#name Matheus Fernandes
    .icons
      a(href='https://github.com/matheuss', target='_blank')
        i.fa.fa-2x.fa-github
      a(href='https://twitter.com/matheusfrndes', target='_blank')
        i.fa.fa-2x.fa-twitter
      a(href='mailto:hi@matheus.top?subject=Hi')
        i.fa.fa-2x.fa-envelope
      a(href='https://500px.com/mmatheus', target='_blank')
        i.fa.fa-2x.fa-500px
      a(href='https://www.linkedin.com/in/matheusfrndes', target='_blank')
        i.fa.fa-2x.fa-linkedin
      a(href='https://medium.com/@matheuss', target='_blank')
        i.fa.fa-2x.fa-medium
  script(src='dist/script.js')
  
