body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.stuff {
  margin: auto;
}


h1 {
  font-weight: 100;
  font-size: 5em;
  text-align: center;
}

.links {
  display: flex;
  margin-top: 3em;
}

.links ul {
  margin: auto;
  display: flex;
}

li + li {
  margin-left: 1em;
}

.links img {
  width: 3em;
}
